body {
  position: absolute;
  font-family: "Proxima Nova", "Montserrat", sans-serif;
}
h1, h2, h3 {
  position: absolute;
  left: 10px;
  font-size: 1.3em;
  font-weight: 100;
}
h2 {
  top: 30px;
  font-size: 1em;
}
h3 {
  top: 60px;
  font-size: 0.8em;
}
.hover {
  fill: yellow;
  stroke: yellow;   
}
#sliderContainer {
  text-align: center;
  position: relative;
  top: 600px;
}
.states {
  stroke: white;
}
.thescript, .rate, .location {
  position: relative;
}
.rate, .location {
  margin: 10px;
}
